/* BBLEARN 2012
================================================
...
/BBLEARN 2012
================================================*/

html {
    font: 400 0.9em "Source Sans Pro", sans-serif;
    /*font-size: 1.1em !important;*/
    overflow-x: auto;
    background-color: #F1F5F6;
}

#contentFrame, #schemePreview, .schemePreviewBody, body {
    background: #F1F5F6;
}

/*
update app_nav with these:
.topTabs {
    background-color: #113b71;
    box-shadow: none;
    color: #24b9ec;
}

appTabs a {
    color: #24B9EC;
    border: 1px solid #FFFFFF;
    border-width: 0 1px 0 1px;
    border-radius: initial;
}

#topTabActive, .appTabs .active a, .appTabs .active a:hover, .appTabs .active a:focus {
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: none;
}
*/
/* custom tab border for ends */
#Help > a {
	border-right: none;
}

#Welcome > a {
	border-left: none;
}

/* set no outside border for common end tabs */
#\<b\>Home\<\/b\> > a:nth-child(1) {
	border-left: none;
}

#SystemAdmin\2e label > a {
	border-right: none;
}

/* Child Tabs */
.paneTabs {
    margin: -12px 0 0;
    background: #d6e0e4;
    color: #00315c;
}

.paneTabs .active a, .paneTabs .active a:hover, .paneTabs .active a:focus, .paneTabs .activepersonal a, .paneTabs .activepersonal a:hover, .paneTabs .active h3 {
    font-weight: bold;
    text-shadow: none;
}

.paneTabs a:hover {
    font-weight: bold;
}

/* modules */
a, .portlet .subCategories li a, .blockGroups .itemHead, .blockGroups .itemHeadOpen {
    color: #00315c;
}

.portlet .courseRole, .portlet .dataBlockLabel, .portlet .eventDate {
    color: #000;
}

.portlet .courseListing li > a {
    font-weight: normal;
}

.breadcrumbs {
    background: #adc7d0;
    color: #00315c;
}

/* Global Nav Menu*/
.flyout-menu {
    background-color: #113b71;

}

.flyout-menu .mybb-tools {
    background-color: #113b71;
}

.nav-link {
    color: #fff;
    background: initial;
}

.hotItems {
    color: #fff;
    background-color: initial !important;
    font-size: larger;
}

.hotSpots a {
    color: #fff !important;
}

/* My Bb */
.side-nav {
    background: #113b71;

}

h3.section-title {
    color: #000000;
    text-shadow: none;
    text-transform: uppercase;
}


/* Beadcrumb path */
.path a, .simplePath a {
    color: #00315c;
}
/* portal page */
.containerPortal, .portal .container {
    padding: 1px 0 0 0;
}

/* modules */
.portlet {
    background-color: #ffffff;
}

.portal .contentBox {
    background: transparent;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* general look */
#contentArea, #schemePreviewBody, .contentBox {
    border: none;
}

input[type="submit"].submit:hover, input[type="submit"].submit:focus, .rumble .mainButton>a:hover, .rumble .mainButton>a:focus, .rumble_top .mainButton>a:hover, .rumble_top .mainButton>a:focus, .button-1:hover, .button-1:focus, .button-1-img:hover, .button-1-img:focus {
    background: #113b71;
    background-image: none;
}

#primaryButton, input.submit[type="submit"], .rumble .mainButton > a, .rumble_top .mainButton > a, .button-1, .button-1-img {
    background: #113b71;
    background-image: none;
}

/* narrow course and content for readability */
.read {
    max-width: 70em;
}

/* announcements - constrain width for readibility*/
#announcementList {
    max-width: 70em;
}

/* action buttons and bar */
#actionBarBrand, .actionBar, .actionBarMicro {
    background: transparent;
}

.actionBar {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-top: none;
}

.mainButton > a, .secondaryButton > a, .mainButton h2 > a, .secondaryButton h2 > a {
    color: #ffffff;
    text-shadow: none;
    background: #113b71;
    padding: 10px 18px 10px;
}

.additional .right {
    color: #000000;
}

/* data table */
.inventory > thead tr th, .splashTable thead tr th {
    color: #000000;
    text-shadow: none;
}

.sortable a.sortheader {
    text-shadow: none;
}

.sortable > thead th a {
    color: #000000;
}

/* flyout and accordian on global nav*/
.accordion_content li a {
    color: #00315c;
}
.flyout-menu .labelMenuItem {
    text-transform: uppercase;
    color: #000;
    text-shadow: none;
    text-decoration: underline #000;
}
.flyout-menu a {
    color: #00315c;
}

/* logoff button - make the text 'logout' visible */
.global-nav-bar .logout-link {
    width: 132px;
    text-indent: 80px;
}

/* course menu */
.navPaletteTitle {
    position: relative;
    background: #adc7d0;
    color: #00315c;
}

.navPaletteTitle h3 a {
    color: #00315c !important;
}

.navPaletteContent h3 a {
    text-shadow: none;
}

.listCm .courseMenu .divider, .buttonCm .courseMenu .divider {
    padding: 12px 12px 0px 12px;
}

.noteditmode .listCm .courseMenu .divider, .noteditmode .listCm .buttonCm .divider {
    padding: 12px 12px 0px 12px;
}

/* course menu subheaders */
.ineditmode div.listCm ul.courseMenu li.subhead:hover {
	color: #113b71 !important;
    font-size: larger;
    text-decoration: underline;
}

.subhead {
    font-variant: small-caps;
    font-size: larger;
    text-decoration: underline;
    letter-spacing: 0.15em;
}

/* course menu hover links */
.listCm .courseMenu > li:hover a span,
.listCm .courseMenu a:hover,
.listCm .courseMenu a:focus,
.listCm .courseMenu a:hover span,
.listCm .courseMenu a:focus span {
	/*color: #00b3e3!important */
	color: #00ffff !important;
}

.ineditmode div.listCm ul.courseMenu li:hover a span {
    color: #113b71 !important;
}

    /* that collapse thing on the inside of the course menu */
#puller a {
	background: #0082ca;
}

#puller a:hover {
	background: #0082ca;
}

.navDivider {
    padding: 5px 6px 4px 30px;
    color: #00315c;
    text-shadow: none;
    background-color: #adc7d0;
}

/* course swithcers */
.student-preview-control a {
    background-color: #ffffff;
}
.read-off {
    color: initial;
}
.read-on {
    background-color: #000000;
}
.switcherLabel {
    color: #000000;
}

.helpLink a.browseIcon {
    background: #d57900;
}

a.enrolled {
    background-color: #840000;
}
a.not-enrolled {
    background-color: #113b71;
}
.singleControl a.enrolled::before, .singleControl a.not-enrolled::before, .discover a::before {
	background-color: white;
}


.announcementList .details, #announcementList .details {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monospace;
}

.vtbegenerated {
    font-size: medium;
    font-family: 'Source Sans Pro';
}

/* content options for vtbe 
    add any of these CSS classes to a paragraph or div tag 
    for standardized formatting
*/

.readable {
    max-width: 70em;
	font-size: medium;
	font-variant: normal;
	font-style: normal;
}
.comfortable {
    max-width: 65em;
    line-height: 1.5em;
    font-size: medium;
    font-variant: normal;
    font-style: normal;
}

.tip {
    border: 1.5px solid #F38A00; 
    padding: 1em; 
    margin: 4%; 
    margin-top: 30px; 
    max-width: 85%;
    text-align: center;
	font-size: medium;
	font-variant: normal;
	font-style: normal;	
	font-weight: bold;
}
